:root {
  --grayscale-dark: #212121;
  --grayscale-light: #e0e0e0;
  --grayscale-white: #ffffff;
  --headline-font-size: 24px;
  --body2-font-size: 12px;
  --body3-font-size: 10px;
  --caption-font-size: 8px;
  --headline-line-height: 32px;
  --common-line-height: 16px;
  --caption-line-height: 12px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

h3,
.body2-fonts,
.body3-fonts {
  line-height: var(--common-line-height);
}

h1 {
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
}

h3 {
  font-size: var(--subtitle1-font-size);
}

.body2-fonts {
  font-size: var(--body2-font-size);
}

.body3-fonts {
  font-size: var(--body3-font-size);
}

.caption-fonts {
  font-size: var(--caption-font-size);
  line-height: var(--caption-line-height);
}

input:focus-visible {
  outline: 0;
}

.featured-img a.arrow.hidden {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*       detail page       */
.detail-main .header {
  padding: 20px 20px 24px 20px;
  position: relative;
  z-index: 2;
}

.detail-main .pokemon-id-wrap p {
  font-weight: var(--font-weight-bold);
}

/* pokemon type*/
.type-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.type-wrapper > p {
  border-radius: 10px;
  padding: 2px 8px;
  font-weight: var(--font-weight-bold);
  color: var(--grayscale-white);
  text-transform: capitalize;
  background-color: #74cb48;
}

.pokemon-detail.abilities p {
  text-transform: capitalize;
  word-break: break-all;
}

.list-item .name-wrap p {
  text-transform: capitalize;
}

/* about section */
.pokemon-detail-wrapper {
  display: flex;
}

.pokemon-detail-wrapper .pokemon-detail-wrap {
  flex: 1;
  text-align: center;
  position: relative;
}

.pokemon-detail-wrap:before {
  content: "";
  background-color: var(--grayscale-light);
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.pokemon-detail-wrap:last-child::before {
  display: none;
}

.pokemon-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
}

.pokemon-detail.abilities {
  flex-direction: column;
  gap: 0;
  align-items: center;
  padding: 8px 5px;
}

.pokemon-detail-wrap .straighten {
  transform: rotate(90deg);
}

.stats-wrap {
  display: flex;
  align-items: center;
}

.stats-wrap p {
  color: var(--grayscale-dark);
  margin-right: 8px;
  min-width: 19px;
}

.stats-wrap p.stats {
  text-align: right;
  padding-right: 8px;
  min-width: 35px;
  border-right: 1px solid var(--grayscale-light);
  font-weight: var(--font-weight-bold);
}

.stats-wrap .progress-bar {
  flex: 1;
  border-radius: 4px;
  height: 4px;
  margin-bottom: 15px;
}

.stats-wrap .progress-bar::-webkit-progress-bar {
  border-radius: 4px;
}

.stats-wrap .progress-bar::-webkit-progress-value {
  border-radius: 4px;
}

.detail-bg {
  position: absolute;
  z-index: -1;
  right: 8px;
  top: 8px;
  opacity: 0.2;
}

.detail-bg path {
  fill: var(--grayscale-white);
}

.detail-main.main {
  height: max-content;
  border-color: transparent;
  background-color: transparent;
}
